---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Snr. Software Engineer (Remote)"
      subtitle="From May 2023 at Amplio, USA/Ghana"
    >
      <ul class="list-disc pl-5">
        <li>
          Maintained a desktop application for managing talking book program
          audio contents (including content synchronization to S3, performing
          device firmware updates, content updates and statistics collection).
        </li>
        <li>
          Developed an Android app used by field agents to update talking book
          device firmware, upload new audio content and collect statistics.
        </li>
        <li>
          Developed an AI-powered web app for creating Social Behavioral Change
          programs for marginalized communities.
        </li>
        <li>
          Re-architected and redesigned a web app for managing talking book
          programs. This included functionalities for monitoring device usage,
          visualizing statistics through Tableau dashboards and program
          specification management.
        </li>
        <li>
          Developed a web app for creating surveys and analyzing user feedback
          (voice recordings) collected from talking book devices in the field.
        </li>
        <li>
          Managed CI/CD pipelines (Github and AWS) for deployment of Amplio
          applications.
        </li>
        <li>
          Administered AWS infrastructure including EC2, S3, RDS and Lambda to
          ensure smooth running of Amplio applications.
        </li>
        <li>
          Led the re-architecting of critical Amplio software infrastructure,
          including the Audio Content Manager, Talking Book Loader, Amplio Suite
          and statistics processing services.
        </li>
        <li>
          Provided technical support for software issues encountered by field
          agents and Amplio partners across Africa.
        </li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Software Engineer (Remote)"
      subtitle="From October 2019 to 2024 at Insurerity Digital, Ghana"
    >
      <ul class="list-disc pl-5">
        <li>
          Lead developer for REST API services and backend infrastructure, which processes over 10,000 requests and payment transactions daily.
        </li>
        <li>
          Worked on the REST API for Complaint Management and Bureau Services (CMAB) tickets management system.
        </li>
        <li>
          Developed a USSD application for StarMicro Insurance and SanLam Insurance, which allows users to buy life insurance policies and make payments. Currently used by over 3000 clients.
        </li>
        <li>
          Managed CI/CD pipelines (Github and Google Cloud)
        </li>
        <li>
          Administered and maintained server infrastructure supporting critical services.
        </li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Teaching and Research Assistant"
      subtitle="From October 2021 to October 2024 at University of Cape Coast, Ghana"
    >
      <ul class="list-disc pl-5">
        <li>
          Tutor for database management system course at the Computer Science department
        </li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Software Engineer (Remote)"
      subtitle="From May 2018 to December 2019 at Npontu Technologies Limited, Ghana"
    >
      <ul class="list-disc pl-5">
        <li>
          Worked on <a href="http://kedebah.npontu.com/" target="_blank" rel="noopener noreferrer">Kedabah Enterprise Resource Planning (ERP)</a> system, which is used by over 50 enterprises in Ghana.
        </li>
        <li>
          Developed a web dashboard for the MTN Business Manager mobile app.
        </li>
        <li>
          Developed REST APIs for MTN Business Manager mobile application.
        </li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Software Engineer, Intern"
      subtitle="From May 2017 to September 2017 at Kyta IT Solutions, Ghana"
    >
      <ul class="list-disc pl-5">
        <li>
          Developed the backend system for physical identity tracking system web application.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
