---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Lawrence Ephrim</div>
    <div class="text-3xl py-3 font-bold">
      Software Engineer
    </div>
    <div class="py-2">
      <text class="text-lg">
        I'm passionate about leveraging technology to drive meaningful impact. I
        focus on building solutions that empower communities and create positive
        change.
      </text>
    </div>
    <!-- <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
      <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>
    </div> -->
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Ananse"
    desc="A domain-specific language for building USSD services, featuring a compiler written in Crystal and a Node.js/TypeScript runtime. This project aims to improve developer productivity and simplify the creation of complex USSD applications."
    url="https://github.com/ephrimlawrence/ananse"
    badge="FOSS"
  />
  <!-- <div class="divider my-0"></div> -->
  <!-- Push footer to bottom -->
   <div class="mt-60"></div>
  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
